/* ***************Menu****************/
.carousel-caption{
    margin-bottom: 200px;
    font-family: 'Sedgwick Ave', cursive;
}
.navbar,.navbar-nav,.navbar-brand{
    border-bottom: white 3px solid;
}
.navbar-nav{
    border-right: teal 3px solid;
}
.navbar-brand{
    border-left:teal 3px solid;
    font-family: 'Mr De Haviland', cursive;
}
.nav-item:hover{
    border-top: teal 3px solid;
}
/* ***************carousel****************/
.view{
    height: 100vh;
    width: 100vw;
}
/* ***************Owner****************/
.seccion-chef{
    height: 430px;
}
.chef-inf{
    background-color: rgb(247, 243, 243);
    margin-top:75px;
    height: 368px;
}
h2{
    font-family: 'Sedgwick Ave', cursive;
}
.chef-inf img{
    width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chef-inf div{
    border-left:teal 3px solid;
}
