/* ***************Menu****************/
.carousel-caption{
    margin-bottom: 200px;
    font-family: 'Sedgwick Ave', cursive;
}
.navbar,.navbar-nav,.navbar-brand{
    border-bottom: white 3px solid;
}
.navbar-nav{
    border-right: teal 3px solid;
}
.navbar-brand{
    border-left:teal 3px solid;
    font-family: 'Mr De Haviland', cursive;
}
.nav-item:hover{
    border-top: teal 3px solid;
}
/* ***************carousel****************/
.view{
    height: 100vh;
    width: 100vw;
}
/* ***************Owner****************/
.seccion-chef{
    height: 430px;
}
.chef-inf{
    background-color: rgb(247, 243, 243);
    margin-top:75px;
    height: 368px;
}
h2{
    font-family: 'Sedgwick Ave', cursive;
}
.chef-inf img{
    width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chef-inf div{
    border-left:teal 3px solid;
}




.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

